@import "../constants";

html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
    font-size: $primary-font-size;
    padding: 20px;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    padding: 10px;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    white-space: nowrap;
    box-shadow: 10px -10px 5px rgba(0,0,0,0.3);

    &:before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #000;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -6px;
    }
}