@keyframes fall-down {
  0% {
    opacity: 0.3;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-size: 16px;
  background-color: #7a16cd;
  font-family: 'Open Sans', sans-serif;
}

.box {
  padding: 30px;
}

button {
  color: #fff;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: transparent;
  border: 3px solid #fff;
  outline: none;
}

.button-large {
  font-size: 26px;
  border-width: 1px;
}

.button2 {
  left: 300px;
  top: 10px;
  position: absolute;
  height: 60px;
}

.tooltip {
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  color: #7a16cd;
  white-space: nowrap;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
  animation: fall-down 0.3s;

  &:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #fff;
    position: absolute;
    margin-left: -6px;
  }

  &.top:before {
    bottom: -12px;
    left: 50%;
  }

  &.bottom:before {
    top: -12px;
    left: 50%;
    transform: rotate(180deg);
  }
}