@keyframes slide-down {
  0% {
    opacity: 0.3;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0.3;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  padding: 20px;
  font-size: 16px;
  background-color: #7a16cd;
  margin-top: 200px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

.link {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.block {
  margin-top: 20px;
}

.box {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  height: 2000px;
}

button {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
}

.tooltip {
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  color: #7a16cd;
  white-space: nowrap;
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);

  &:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #fff;
    position: absolute;
    margin-left: -6px;
  }

  &.top {
    animation: slide-up 0.3s;

    &:before {
      bottom: -12px;
      left: 50%;
    }
  }

  &.bottom {
    animation: slide-down 0.3s;

    &:before {
      top: -12px;
      left: 50%;
      transform: rotate(180deg);
    }
  }
}